In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv('C:/Users/sunil/Learning/Comprehensive Learning path for NLP/001-Data Preparation/001-Split Data using SKLearn/Data/Purchased.csv',encoding='latin1')
data.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [3]:
X = data[['Country','Age','Salary']]
Y = data[['Purchased']]

In [4]:
X.iloc[0]

Country    France
Age            44
Salary      72000
Name: 0, dtype: object

In [5]:
Y.iloc[0]

Purchased    No
Name: 0, dtype: object

In [7]:
xTrain,yTrain,xTest,yTest = train_test_split(X,Y,test_size = 0.2,random_state =0)

In [12]:
print(xTrain)

   Country   Age   Salary
4  Germany  40.0      NaN
9   France  37.0  67000.0
1    Spain  27.0  48000.0
6    Spain   NaN  52000.0
7   France  48.0  79000.0
3    Spain  38.0  61000.0
0   France  44.0  72000.0
5   France  35.0  58000.0

In [9]:
len(xTrain)

8

In [10]:
len(yTrain)

2

In [13]:
print(yTrain)

   Country   Age   Salary
2  Germany  30.0  54000.0
8  Germany  50.0  83000.0