# Simple models for Prediction

Let us start with making predictions using a few simple ways to start with. If I were to ask you, what could be the simplest way to predict the sales of an item, what would you say?

## Model 1 – Mean sales:

Even without any knowledge of machine learning, you can say that if you have to predict sales for an item – it would be the average over last few days . / months / weeks.

It is a good thought to start, but it also raises a question – how good is that model?

Turns out that there are various ways in which we can evaluate how good is our model. The most common way is Mean Squared Error. Let us understand how to measure it.

### Prediction Error

To evaluate how good is a model, let us understand the impact of wrong predictions. If we predict sales to be higher than what they might be, the store will spend a lot of money making unnecessary arrangement which would lead to excess inventory. On the other side if I predict it too low, I will lose out on sales opportunity.

So, the simplest way of calculating error will be, to calculate the difference in the predicted and actual values. However, if we simply add them, they might cancel out, so we square these errors before adding. We also divide them by the number of data points to calculate a mean error since it should not be dependent on number of data points.

![Mean%20squared%20Error.webp](attachment:Mean%20squared%20Error.webp)

####     [each error squared and divided by number of data points]

##### This is known as the mean squared error

Here e1, e2 …. , en are the difference between the actual and the predicted values.

So, in our first model what would be the mean squared error? On predicting the mean for all the data points, we get a mean squared error = 29,11,799. Looks like huge error. May be its not so cool to simply predict the average value.

Let’s see if we can think of something to reduce the error. Here is a live coding window to predict target using mean.

In [1]:
import pandas as pd
from sklearn.metrics import mean_squared_error
import sys
from decimal import Decimal

In [2]:
train_data = pd.read_csv('C:/Users/sunil/Learning/Comprehensive Learning path for NLP/002-Linear Regression/Case Study - Practice Problem - Big Mart Sales III/Data/train_orig.csv')

In [3]:
train_data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Mean,Diff,SqofDiff,WholeMean,Diffbetsalesandwholemean,Sqofdiffwithwholemean
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999.0,Medium,Tier 1,Supermarket Type1,3735.1380,5198.067050,-1462.929050,2.140161e+06,2181.288914,1553.849086,2.414447e+06
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009.0,Medium,Tier 3,Supermarket Type2,443.4228,862.211000,-418.788200,1.753836e+05,2181.288914,-1737.866114,3.020179e+06
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999.0,Medium,Tier 1,Supermarket Type1,2097.2700,1478.076000,619.194000,3.834012e+05,2181.288914,-84.018914,7.059178e+03
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998.0,NaN,Tier 3,Grocery Store,732.3800,3021.067500,-2288.687500,5.238090e+06,2181.288914,-1448.908914,2.099337e+06
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987.0,High,Tier 3,Supermarket Type1,994.7052,653.926567,340.778633,1.161301e+05,2181.288914,-1186.583714,1.407981e+06

In [4]:
test_data = pd.read_csv('C:/Users/sunil/Learning/Comprehensive Learning path for NLP/002-Linear Regression/Case Study - Practice Problem - Big Mart Sales III/Data/test_orig.csv')

In [5]:
test_data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3

In [6]:
# print shape of training data and test data
print('shape of training data :',train_data.shape)
print('shape of test data :',test_data.shape)

shape of training data : (8526, 18)
shape of test data : (5681, 11)

In [7]:
# marking the predict field in both the data sets
train_y = train_data['Item_Outlet_Sales']

In [8]:
train_y.describe()

count     8523.000000
mean      2181.288914
std       1706.499616
min         33.290000
25%        834.247400
50%       1794.331000
75%       3101.296400
max      13086.964800
Name: Item_Outlet_Sales, dtype: float64

In [9]:
import numpy as np
test_data['Item_Outlet_Sales'] = np.nan

In [10]:
test_data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1,NaN
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1,NaN
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store,NaN
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1,NaN
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3,NaN

In [11]:
# sort train_data by Item_identifier
train_data_sorted = train_data.sort_values('Outlet_Location_Type', axis = 0)
print(train_data_sorted[0:20])

     Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
0              FDA15        9.300          Low Fat         0.016047
4073           FDG05       11.000          Regular         0.000000
4082           FDZ47       20.700          Regular         0.079296
4085           FDY04       17.700          Regular         0.042542
4087           FDE28        9.500          Regular         0.000000
4098           FDB27        7.575          Low Fat         0.055476
4101           FDU38          NaN               LF         0.144534
4104           FDS15        9.195          Regular         0.078061
4106           DRP47       15.750          Low Fat         0.140822
4108           FDA19          NaN          Low Fat         0.000000
4122           NCS30        5.945          Low Fat         0.093171
4125           FDC11       20.500               LF         0.141793
4131           FDC40       16.000          Regular         0.065165
4136           FDY02          NaN          Regular         0.153457
4143           FDK32       16.250          Regular         0.049052
4146           DRZ24        7.535          Low Fat         0.081788
4147           FDG04          NaN          Low Fat         0.010615
4149           FDI21        5.590          Regular         0.056603
4151           FDI57       19.850          Low Fat         0.054110
4156           FDD23        9.500          Regular         0.048761

                  Item_Type  Item_MRP Outlet_Identifier  \
0                     Dairy  249.8092            OUT049
4073           Frozen Foods  155.2630            OUT049
4082           Baking Goods   97.2042            OUT046
4085           Frozen Foods  161.9210            OUT049
4087           Frozen Foods  228.4668            OUT049
4098                  Dairy  196.8768            OUT049
4101                  Dairy  190.6504            OUT019
4104                   Meat  106.3596            OUT046
4106            Hard Drinks  252.9382            OUT049
4108  Fruits and Vegetables  126.6994            OUT019
4122              Household  127.3652            OUT049
4125          Starchy Foods   89.7172            OUT046
4131                  Dairy   79.3986            OUT049
4136                  Dairy  264.0910            OUT019
4143  Fruits and Vegetables  152.4682            OUT049
4146            Soft Drinks  120.8440            OUT046
4147           Frozen Foods  185.1898            OUT019
4149            Snack Foods   63.2168            OUT046
4151                Seafood  195.0768            OUT049
4156          Starchy Foods  186.5898            OUT049

      Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
0                        1999.0      Medium               Tier 1
4073                     1999.0      Medium               Tier 1
4082                     1997.0       Small               Tier 1
4085                     1999.0      Medium               Tier 1
4087                     1999.0      Medium               Tier 1
4098                     1999.0      Medium               Tier 1
4101                     1985.0       Small               Tier 1
4104                     1997.0       Small               Tier 1
4106                     1999.0      Medium               Tier 1
4108                     1985.0       Small               Tier 1
4122                     1999.0      Medium               Tier 1
4125                     1997.0       Small               Tier 1
4131                     1999.0      Medium               Tier 1
4136                     1985.0       Small               Tier 1
4143                     1999.0      Medium               Tier 1
4146                     1997.0       Small               Tier 1
4147                     1985.0       Small               Tier 1
4149                     1997.0       Small               Tier 1
4151                     1999.0      Medium               Tier 1
4156                     1999.0      Medium               Tier 1

            Outlet_Type  Item_Outlet_Sales         Mean         Diff  \
0     Supermarket Type1          3735.1380  5198.067050 -1462.929050
4073  Supermarket Type1           625.8520  2307.829250 -1681.977250
4082  Supermarket Type1          1686.4714  1845.198120  -158.726720
4085  Supermarket Type1          2120.5730  2392.441333  -271.868333
4087  Supermarket Type1          3916.2356  2902.621680  1013.613920
4098  Supermarket Type1          1182.4608  3317.459467 -2134.998667
4101      Grocery Store           575.2512  3287.149714 -2711.898514
4104  Supermarket Type1          2912.2092  2157.192000   755.017200
4106  Supermarket Type1          2775.7202  3785.073000 -1009.352800
4108      Grocery Store           256.9988  1413.493400 -1156.494600
4122  Supermarket Type1          1549.9824  1992.834514  -442.852114
4125  Supermarket Type1          1159.8236  2007.387000  -847.563400
4131  Supermarket Type1           856.8846  1308.696480  -451.811880
4136      Grocery Store           262.9910  3268.602429 -3005.611429
4143  Supermarket Type1          2439.4912  3608.414067 -1168.922867
4146  Supermarket Type1          2157.1920  2612.599200  -455.407200
4147      Grocery Store           374.1796  2245.077600 -1870.898000
4149  Supermarket Type1          1725.7536  1031.799771   693.953829
4151  Supermarket Type1          1970.7680  4110.458971 -2139.690971
4156  Supermarket Type1          5238.5144  3305.253133  1933.261267

          SqofDiff    WholeMean  Diffbetsalesandwholemean  \
0     2.140161e+06  2181.288914               1553.849086
4073  2.829047e+06  2181.288914              -1555.436914
4082  2.519417e+04  2181.288914               -494.817514
4085  7.391239e+04  2181.288914                -60.715914
4087  1.027413e+06  2181.288914               1734.946686
4098  4.558219e+06  2181.288914               -998.828114
4101  7.354394e+06  2181.288914              -1606.037714
4104  5.700510e+05  2181.288914                730.920286
4106  1.018793e+06  2181.288914                594.431286
4108  1.337480e+06  2181.288914              -1924.290114
4122  1.961180e+05  2181.288914               -631.306514
4125  7.183637e+05  2181.288914              -1021.465314
4131  2.041340e+05  2181.288914              -1324.404314
4136  9.033700e+06  2181.288914              -1918.297914
4143  1.366381e+06  2181.288914                258.202286
4146  2.073957e+05  2181.288914                -24.096914
4147  3.500259e+06  2181.288914              -1807.109314
4149  4.815719e+05  2181.288914               -455.535314
4151  4.578277e+06  2181.288914               -210.520914
4156  3.737499e+06  2181.288914               3057.225486

      Sqofdiffwithwholemean
0              2.414447e+06
4073           2.419384e+06
4082           2.448444e+05
4085           3.686422e+03
4087           3.010040e+06
4098           9.976576e+05
4101           2.579357e+06
4104           5.342445e+05
4106           3.533486e+05
4108           3.702892e+06
4122           3.985479e+05
4125           1.043391e+06
4131           1.754047e+06
4136           3.679867e+06
4143           6.666842e+04
4146           5.806613e+02
4147           3.265644e+06
4149           2.075124e+05
4151           4.431906e+04
4156           9.346628e+06

In [12]:
train_data_sortedandgrouped = train_data_sorted.groupby(['Outlet_Location_Type']).mean()

In [13]:
train_data_sortedandgrouped

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales,Mean,Diff,SqofDiff,WholeMean,Diffbetsalesandwholemean,Sqofdiffwithwholemean
Outlet_Location_Type,,,,,,,,,,,
Tier 1,12.892124,0.071205,140.870106,1995.125628,1876.909159,2151.632948,-274.723789,1.589150e+06,2181.288914,-304.379755,2.530374e+06
Tier 2,12.768628,0.061038,141.167196,2004.330341,2323.990559,2194.051101,129.939458,1.049865e+06,2181.288914,142.701645,2.331586e+06
Tier 3,12.933745,0.066751,140.935232,1994.358507,2279.627651,2191.818989,87.808662,2.238977e+06,2181.288914,98.338737,3.666049e+06

In [14]:
train_data_withmean = pd.merge(train_data,train_data_sortedandgrouped,left_on = 'Outlet_Location_Type',right_on = 'Outlet_Location_Type',how = 'inner')

In [15]:
train_data_withmean

,Item_Identifier,Item_Weight_x,Item_Fat_Content,Item_Visibility_x,Item_Type,Item_MRP_x,Outlet_Identifier,Outlet_Establishment_Year_x,Outlet_Size,Outlet_Location_Type,...,Item_Visibility_y,Item_MRP_y,Outlet_Establishment_Year_y,Item_Outlet_Sales_y,Mean_y,Diff_y,SqofDiff_y,WholeMean_y,Diffbetsalesandwholemean_y,Sqofdiffwithwholemean_y
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999.0,Medium,Tier 1,...,0.071205,140.870106,1995.125628,1876.909159,2151.632948,-274.723789,1.589150e+06,2181.288914,-304.379755,2.530374e+06
1,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999.0,Medium,Tier 1,...,0.071205,140.870106,1995.125628,1876.909159,2151.632948,-274.723789,1.589150e+06,2181.288914,-304.379755,2.530374e+06
2,FDY07,11.80,Low Fat,0.000000,Fruits and Vegetables,45.5402,OUT049,1999.0,Medium,Tier 1,...,0.071205,140.870106,1995.125628,1876.909159,2151.632948,-274.723789,1.589150e+06,2181.288914,-304.379755,2.530374e+06
3,FDA03,18.50,Regular,0.045464,Dairy,144.1102,OUT046,1997.0,Small,Tier 1,...,0.071205,140.870106,1995.125628,1876.909159,2151.632948,-274.723789,1.589150e+06,2181.288914,-304.379755,2.530374e+06
4,FDX32,15.10,Regular,0.100014,Fruits and Vegetables,145.4786,OUT049,1999.0,Medium,Tier 1,...,0.071205,140.870106,1995.125628,1876.909159,2151.632948,-274.723789,1.589150e+06,2181.288914,-304.379755,2.530374e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDN58,13.80,Regular,0.056862,Snack Foods,231.5984,OUT035,2004.0,Small,Tier 2,...,0.061038,141.167196,2004.330341,2323.990559,2194.051101,129.939458,1.049865e+06,2181.288914,142.701645,2.331586e+06
8519,FDH31,12.00,Regular,0.020407,Meat,99.9042,OUT035,2004.0,Small,Tier 2,...,0.061038,141.167196,2004.330341,2323.990559,2194.051101,129.939458,1.049865e+06,2181.288914,142.701645,2.331586e+06
8520,FDA01,15.00,Regular,0.054489,Canned,57.5904,OUT045,2002.0,NaN,Tier 2,...,0.061038,141.167196,2004.330341,2323.990559,2194.051101,129.939458,1.049865e+06,2181.288914,142.701645,2.331586e+06
8521,FDS36,8.38,Regular,0.046982,Baking Goods,108.1570,OUT045,2002.0,NaN,Tier 2,...,0.061038,141.167196,2004.330341,2323.990559,2194.051101,129.939458,1.049865e+06,2181.288914,142.701645,2.331586e+06
8522,NCJ29,10.60,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004.0,Small,Tier 2,...,0.061038,141.167196,2004.330341,2323.990559,2194.051101,129.939458,1.049865e+06,2181.288914,142.701645,2.331586e+06

In [16]:
train_data_withmean = train_data_withmean[['Item_Identifier','Item_Weight_x','Item_Fat_Content','Item_Visibility_x','Item_Type','Item_MRP_x','Outlet_Identifier','Outlet_Establishment_Year_x','Outlet_Size','Outlet_Location_Type','Outlet_Type','Item_Outlet_Sales_x','Item_Outlet_Sales_y']]

In [17]:
train_data_withmean.loc[:,'diffbetwyandmean'] =0

C:\Users\sunil\anaconda3\envs\NLP\lib\site-packages\pandas\core\indexing.py:844: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\sunil\anaconda3\envs\NLP\lib\site-packages\pandas\core\indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [18]:
train_data_withmean.head()

,Item_Identifier,Item_Weight_x,Item_Fat_Content,Item_Visibility_x,Item_Type,Item_MRP_x,Outlet_Identifier,Outlet_Establishment_Year_x,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales_x,Item_Outlet_Sales_y,diffbetwyandmean
0,FDA15,9.3,Low Fat,0.016047,Dairy,249.8092,OUT049,1999.0,Medium,Tier 1,Supermarket Type1,3735.1380,1876.909159,0
1,FDN15,17.5,Low Fat,0.016760,Meat,141.6180,OUT049,1999.0,Medium,Tier 1,Supermarket Type1,2097.2700,1876.909159,0
2,FDY07,11.8,Low Fat,0.000000,Fruits and Vegetables,45.5402,OUT049,1999.0,Medium,Tier 1,Supermarket Type1,1516.0266,1876.909159,0
3,FDA03,18.5,Regular,0.045464,Dairy,144.1102,OUT046,1997.0,Small,Tier 1,Supermarket Type1,2187.1530,1876.909159,0
4,FDX32,15.1,Regular,0.100014,Fruits and Vegetables,145.4786,OUT049,1999.0,Medium,Tier 1,Supermarket Type1,1589.2646,1876.909159,0

In [21]:
def getdiffyandybar(x):
    yminusybar = Decimal((x.Item_Outlet_Sales_x - x.Item_Outlet_Sales_y) ** 2)
    #print(x)
    return round(yminusybar,2)

In [22]:
train_data_withmean['diffbetwyandmean'] = train_data_withmean.apply(lambda x: getdiffyandybar(x),axis=1)

C:\Users\sunil\anaconda3\envs\NLP\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [23]:
train_data_withmean

,Item_Identifier,Item_Weight_x,Item_Fat_Content,Item_Visibility_x,Item_Type,Item_MRP_x,Outlet_Identifier,Outlet_Establishment_Year_x,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales_x,Item_Outlet_Sales_y,diffbetwyandmean
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999.0,Medium,Tier 1,Supermarket Type1,3735.1380,1876.909159,3453014.43
1,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999.0,Medium,Tier 1,Supermarket Type1,2097.2700,1876.909159,48558.90
2,FDY07,11.80,Low Fat,0.000000,Fruits and Vegetables,45.5402,OUT049,1999.0,Medium,Tier 1,Supermarket Type1,1516.0266,1876.909159,130236.22
3,FDA03,18.50,Regular,0.045464,Dairy,144.1102,OUT046,1997.0,Small,Tier 1,Supermarket Type1,2187.1530,1876.909159,96251.24
4,FDX32,15.10,Regular,0.100014,Fruits and Vegetables,145.4786,OUT049,1999.0,Medium,Tier 1,Supermarket Type1,1589.2646,1876.909159,82739.39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDN58,13.80,Regular,0.056862,Snack Foods,231.5984,OUT035,2004.0,Small,Tier 2,Supermarket Type1,7182.6504,2323.990559,23606575.45
8519,FDH31,12.00,Regular,0.020407,Meat,99.9042,OUT035,2004.0,Small,Tier 2,Supermarket Type1,595.2252,2323.990559,2988629.67
8520,FDA01,15.00,Regular,0.054489,Canned,57.5904,OUT045,2002.0,NaN,Tier 2,Supermarket Type1,468.7232,2323.990559,3442016.97
8521,FDS36,8.38,Regular,0.046982,Baking Goods,108.1570,OUT045,2002.0,NaN,Tier 2,Supermarket Type1,549.2850,2323.990559,3149579.82
8522,NCJ29,10.60,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004.0,Small,Tier 2,Supermarket Type1,1193.1136,2323.990559,1278882.70

In [25]:
print("MSE with mean from location type",train_data_withmean['diffbetwyandmean'].sum() / train_data_withmean.shape[0])

MSE with mean from location type 2875385.977791857327232195236

In [ ]:
#train_data_withmean.shape[0]

In [ ]:
#train_data_sortedandgrouped.to_csv(r'C:/Users/sunil/Learning/Comprehensive Learning path for NLP/002-Linear Regression/Case Study - Practice Problem - Big Mart Sales III/Data/TrainDatawithMean.csv')